body {
  display: relative;
  font-size: 15px;
}

.main-content {
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: auto;
}

.main-content .header__text-box .heading-primary {
  font-family: "Roboto", sans-serif;
  font-weight: 300px;
}

.main-content .header__text-box .heading-primary--main {
  font-family: "Roboto Slab", serif;
  font-size: 70px;
  font-weight: 200px;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.heading-primary--main {
  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1rem;
}

nav .navbar-brand {
  font-family: "Pacifico", cursive;
}

nav .navbar-nav .nav-link {
  font-family: "Roboto Slab", serif;
  padding-left: 10px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 0.75rem;
  font-family: "Roboto Slab", serif;
  font-weight: 200px;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translate(-0.1rem);
          transform: translate(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animation {
  -webkit-animation: moveInButton .5s ease-out .75s;
          animation: moveInButton .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.link {
  text-decoration: none;
  line-height: 0.8;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
  color: #333;
  vertical-align: bottom;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: translateY(calc(98% - 2px));
          transform: translateY(calc(98% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #f580a3 0%, #e7678d 100%);
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.link:hover {
  color: #fff;
}

.link:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.logo-img {
  height: 150px;
  width: auto;
  border-radius: 50px;
}

.logo-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iframe-container {
  margin: 10px auto;
  width: 70%;
  padding-bottom: 300px;
  height: 0;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub-heading {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  -webkit-text-decoration-color: #e7678d;
          text-decoration-color: #e7678d;
  text-underline-offset: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  font-size: 30px;
}

.about p {
  margin: 30px 80px;
  text-align: justify;
}

.about .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register,
#guidelines {
  margin: 50px;
}

#register ul,
#guidelines ul {
  list-style: none;
}

#register li,
#guidelines li {
  font-family: "Roboto", sans-serif;
  font-weight: 10px;
}

p {
  font-family: "Roboto", sans-serif;
}

#contact .sub-heading {
  padding-bottom: 10px;
}

#contact .contact-box {
  width: 215px;
  height: auto;
  margin: 1px auto;
  text-align: center;
  padding-bottom: 10px;
}

#contact .contact-box span {
  font-family: "Roboto", sans-serif;
}

#contact .contact-box span:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

#contact .contact-box span a {
  text-decoration: none;
  color: #e7678d;
}

#contact .contact-box i {
  padding: 5px;
}

.neat-card {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  margin: 0;
  border: solid 1px;
  border-radius: 20px;
  margin: 10px auto;
  border-bottom: 5px solid #e7678d;
}

.neat-card:hover {
  border-bottom: 10px solid #c8033e;
}

.neat-card img {
  border-radius: 20px;
}

.neat-card h5 {
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  -webkit-text-decoration-color: #e7678d;
          text-decoration-color: #e7678d;
  text-underline-offset: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}

.neat-card p {
  font-family: "Roboto", sans-serif;
}

.important {
  color: #e7678d;
}

#footer .footer {
  height: 100px;
  width: auto;
  background-color: #d35071;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 480px) {
  .main-content .header__text-box .heading-primary--main {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.6rem;
  }
  .main-content .header__text-box .heading-primary {
    font-weight: 100px;
    font-size: 10px;
  }
  .sub-heading {
    padding: 20px;
    font-size: 20px;
  }
  .about p {
    margin: 12px;
  }
  .about .quote {
    text-align: justify;
    font-size: 12px;
  }
  .iframe-container {
    width: 85%;
  }
  #register,
  #guidelines {
    margin: 0 10px;
  }
  #register ol,
  #register ul,
  #guidelines ol,
  #guidelines ul {
    padding: 0.5rem;
    font-weight: 50px;
  }
  #contact .sub-heading {
    padding-bottom: 10px;
  }
  #contact .contact-box span:nth-child(1) {
    font-size: 15px;
  }
  .neat-card {
    height: 250px;
    width: 250px;
    border-radius: 30px;
    margin: auto;
    border: solid 1px;
    border-radius: 20px;
    margin: 12px auto;
  }
  .neat-card img {
    border-radius: 20px;
  }
}

.g-4,
.gx-4 {
  --bs-gutter-x: -1.5rem;
}

/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d32d56;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/*# sourceMappingURL=styles.css.map */