$color-primary: #d6406d;
$color-primary-light: #e7678d;
$color-primary-dark: #c8033e;
$color-grey-dark: #777;
$color-white: #fff;
$sizer : 10px;
$main: 'Pacifico',
cursive;
$normal-t:'Roboto',
sans-serif;
$heading-t: 'Roboto Slab',
serif;

body {
  display: relative;
  font-size: $sizer*1.5;
}


.main-content {
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
  color: $color-white;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-size: auto;

  .header__text-box {
    .heading-primary {
      font-family: $normal-t;
      font-weight: $sizer*30;
    }

    .heading-primary--main {
      font-family: $heading-t;
      font-size: $sizer*7;
      font-weight: $sizer*20;
    }
  }
}


.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  display: block;
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.heading-primary--main {
  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1rem;
}


nav {
  .navbar-brand {
    font-family: $main;
  }

  .navbar-nav .nav-link {
    font-family: $heading-t;
    padding-left: $sizer;
  }
}


.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 0.75rem;
  font-family: $heading-t;
  font-weight: $sizer*20;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translate(-0.1rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: $color-white;
  color: $color-grey-dark;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: all .4s;
}

.btn--white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animation {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.link {
  text-decoration: none;
  line-height: 0.8;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: $sizer;
  overflow: hidden;
  color: #333;
  vertical-align: bottom;
  transition: color .3s ease-out;
}


.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(98% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #f580a3 0%, $color-primary-light 100%);
  transition: transform .25s ease-out;
}

.link:hover {
  color: #fff;
}

.link:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}

.logo-img {
  height: $sizer*15;
  width: auto;
  border-radius: $sizer*5;
  margin-top: 10px;
  margin-left: 45%;
  // transform: translate(-50%,-50%);
}

.iframe-container {
  margin: $sizer auto;
  width: 80%;
  padding-bottom: $sizer*30;
  height: 0;
  transform: translate(0%);
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// sub things

.sub-heading {
  font-family: $heading-t;
  text-decoration: underline;
  text-decoration-color: $color-primary-light;
  text-underline-offset: $sizer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $sizer*4;
  font-size: $sizer*3;
}

.about {
  p {
    margin: $sizer*3 $sizer*8;
    text-align: justify;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#register {
  margin: $sizer*5;
  padding-bottom: $sizer;

  i span {
    font-family: $normal-t;
    padding-bottom: $sizer;
    font-weight: $sizer;
    letter-spacing: 0.5px;
  }
}

p {
  font-family: $normal-t;
}

#contact {
  .sub-heading {
    padding-bottom: $sizer;
  }

  .contact-box {
    width: $sizer*10;
    height: auto;
    margin: 1px auto;
    text-align: center;
    padding-bottom: $sizer;

    span {
      font-family: $normal-t;
    }

    span:nth-child(1) {
      font-family: $heading-t;
      font-size: $sizer*2;
    }

    span a {
      text-decoration: none;
      color: $color-primary-light;
    }

    i {
      padding: $sizer/2;
    }
  }
}

.neat-card {
  height: $sizer*30;
  width: $sizer*30;
  border-radius: $sizer*3;
  margin: 0;
  border: solid 1px;
  border-radius: $sizer*2;
  margin: $sizer auto;
  border-bottom: $sizer*0.5 solid #e7678d;
  &:hover{
    border-bottom: $sizer*1 solid $color-primary-dark;
  }
  img {
    border-radius: $sizer*2;
  }
}



#footer {
  .footer {
    height: $sizer*5;
    width: auto;
    background-image: linear-gradient(60deg, #f580a3 0%, $color-primary-light 100%);
    display: flex;
    justify-content: center;
  }

  span {
    display: inline-flex;
    padding: $sizer*2;
    font-family: $normal-t;
  }
}

@media (max-width: 480px) {

  .main-content .header__text-box .heading-primary--main {
    font-size: $sizer*3;
    font-weight: 300;
    letter-spacing: 0.6rem;
  }

  .main-content .header__text-box .heading-primary {
    font-weight: $sizer*10;
    font-size: $sizer;
  }

  .sub-heading {
    padding: $sizer*2;
    font-size: $sizer*2;
  }

  .about {
    p {
      margin: $sizer*1.2;
    }

    .quote {
      text-align: justify;
      font-size: $sizer*1.2;
    }
  }

  #register {
    margin: 0;

    ol,
    ul {
      padding: 0.5rem;
      font-weight: $sizer*5;
    }
  }


  #contact {
    .sub-heading {
      padding-bottom: $sizer;
    }

    .contact-box {
      span:nth-child(1) {
        font-size: $sizer*1.5;
      }
    }
  }

  .neat-card {
    height: $sizer*25;
    width: $sizer*25;
    border-radius: $sizer*3;
    margin: 0;
    border: solid 1px;
    border-radius: $sizer*2;
    margin: $sizer*1.2 auto;

    img {
      border-radius: $sizer*2;
    }
  }
}


// for particles

/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d32d56;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}